LMSGI/Trabajos/Eclipse/EjerciciosXSD1/Ej2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema">
	<xsi:element name="libro">
        <xsi:complexType>
			<xsi:sequence>
				<xsi:element name="autor" />
				<xsi:element name="titulo" />
			</xsi:sequence>
		</xsi:complexType>
    </xsi:element>
</xsi:schema>